@import "../base/_vars";
@import "../base/_mixins";

.clearfix:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:"\20 ";
    clear:both;
    height:0;
}

.clearfix {
    zoom:1; /* for IE6 IE7 */
}

.fl {
    float: left;
}
.fr {
    float: right;
}
