@import "../base/_vars";
@import "../base/_mixins";

/* 等级基类 */
.grade {
    width: 200px;
    height: 40px;
    background-image: url("#{$base-path}/star.png");
    background-position: 0  -40px;
    background-repeat: repeat-x;
    position: relative;
    display: inline-block;
    zoom: 1;

    i{
        width: 20%;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        height: 40px;

        &:hover {
            background: url(#{$base-path}/star.png) left top repeat-x;

            /*.grade-tips{*/
                /*display: block;*/
            /*}*/
        }
    }

    .grade-tips{
        display: none;
        position: absolute;
        bottom: 0;
        width: 50px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        padding: 0 0 0 10px;
    }

    .grade1 {
        width: 20%;
        z-index: 6;

        .grade-tips{
            left: 500%;
            color: $color-danger;
        }
    }

    .grade2 {
        width: 40%;
        z-index: 5;

        .grade-tips{
            left: 250%;
            color: $color-warning;
        }
    }

    .grade3 {
        width: 60%;
        z-index: 4;

        .grade-tips{
            left: 166%;
            color: $color-strong;
        }
    }

    .grade4 {
        width: 80%;
        z-index: 3;

        .grade-tips{
            left: 125%;
            color: $color-success;
        }
    }

    .grade5 {
        width: 100%;
        z-index: 2;

        .grade-tips{
            left: 100%;
            color: darken($color-success, 10%);
        }
    }
}

/* 交互 */
.grade-static{
    i,
    i:hover {
        background: none;
        cursor: default;

        .grade-tips {
            display: none;
        }
    }

}

.grade{
    .active,
    .active:hover{
        background: url(#{$base-path}/star.png) 0 0 repeat-x;

        .grade-tips{
            display: block;
        }
    }
}

/* 大小 */
.grade-lg {
    font-size: 22px;
}

.grade-lg i {
    font-size: 22px;
}
